# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# Azure Functions
api/local.settings.json
api/__pycache__/
api/.python_packages/
api/.venv/
api/venv/
.python_packages/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.egg

# IDE / OS
.idea/
.vscode/
.DS_Store
